* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #36393f;
    color: #fff;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}
header .logo {
    position: relative;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
}
header .logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
main {
    padding: 30px;
    text-align: center;
}