* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #181818;
    color: #fff;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
}
header .logo {
    position: relative;
    top: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
}
header .logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Body*/


main {
    position: relative;
    padding: 30px;
    text-align: center;
}
main .pageHeader {
    background: #1f1f1f;
    padding: 8px;
    margin: 8px;
    border-radius: 20px;
}
main .pageBox {
    position: relative;
    background: #1f1f1f;
    float: left;
    padding: 20px;
    margin: 12px;
    border-radius: 20px;
}